@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --black: #2D3043;
    --white: #F5F5F5;
    --blue: dodgerblue;
}

::selection {
    background-color: var(--black);
    color: var(--white);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    color: var(--white);
    background: var(--black);

    background-image: url("assets/BassMusicMovement.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--blue);
    display: inline-block;
}

a:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1);
}

h1 {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    background: rgba(45, 48, 67, 0.5);
    backdrop-filter: blur(5px);
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#navbar-icon {
    height: 10vh;
    border-radius: 50%;
    animation: spin 35s infinite linear;
}

#navbar li {
    flex: 1;
}

.navbar-link {
    font-weight: bold;
    font-size: 2.7vh;
    color: var(--white);
}

#menu-btn {
    border: none;
    outline: none;
    margin-left: 125px;
    padding: 10px;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 110px;
}

#title {
    font-size: 9vh;
    font-weight: normal;
    margin-top: 500px;
    color: var(--white);
    display: inline-block;
}

#title:before {
    display: block;
    content: '';
    border: solid 2px #BF2E3D;
    transform: scaleX(0);
    animation: pop 3s infinite forwards;
}

#title:after {
    display: block;
    content: '';
    border: solid 2px #BF2E3D;
    transform: scaleX(0);
    animation: pop 3s infinite forwards;
}

@keyframes pop {
    0% {
        transform: scaleX(0);
    }

    25% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0);
        border-color: #5EC0EF;
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

#dark-icon {
    height: 200px;
    border-radius: 50%;
    margin: 30px;
    animation: spin 35s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* DESKTOP-ONLY STYLES */
@media only screen and (min-width: 770px) {
    .hide-desktop {
        display: none;
    }
}

/* MOBILE-ONLY STYLES */
@media only screen and (max-width: 770px) {
    #title {
        margin-top: 200px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.3);
    }

    .hide-mobile {
        display: none;
    }
}