.footer {
    height: 200px;

    /* Center items horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    text-decoration: underline;
}

.a:hover {
    text-decoration: none;
}